<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <form method="POST">
        <div>
            <label><b>Username</b></label>
            <input type="text" id="user" placeholder="Enter Username" name="user" required>
        </div>

        <div>
            <label><b>Password</b></label>
            <input type="password" id="pass" placeholder="Enter Password" name="pass" required>
        </div>

        <button type="submit">Sign Up</button>



    </form>

</body>
</html>